{%extends 'base.html'%}
{%load cloudinary%}
{% block content %} 
{{ block.super}}



<div class="container">

  <!-- Looping through news   -->
  {% for img in images %}


  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ img.image_name }} </h2>
    </div>

     <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src='{{img.image.url}}' class="img-responsive" alt="Image">
      <div>{{img.image_description}}</div>
      <div>{{img.image_location}}</div>
      <div>{{img.image_category}}</div>
      
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There are no Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}