{% extends 'base.html' %}

{% block content %}
<style>
body{
  background-image: url("https://cdn.pixabay.com/photo/2020/03/27/08/56/lake-4972944__340.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
}
</style>
{{block.super}}

<div class="container-fluid text-center landing text-primary">
<h1 class="mb-4 d-none d-md-block text-center text-primary">
  <strong>yohh meehn! Welcome To My Gallery.</strong>
</h1>
<p>Search for photos from these categories; <strong>Nature, Technology, Sports, People and wildlife.</strong> </p>
<div>
<a target="_blank" href="{% url 'gallery'%}" class="btn btn-primary">View Gallery</a>
</div>
    <div>

    </div>
</div>


{% endblock %}